extends ../layout

block content
  .container
    form(id="new_item_form", action="/todo_items/create", method="post")
      label(for="new_todo_title") Enter Todo Item
      input#new_todo_title(type="text", placeholder="new todo item", name="todo_title")
      input(type="submit", value="save")
    
    ul#todo_items
      each todo_item in todo_items
        li(id="#{todo_item.id}") 
          span(class="item") #{todo_item.title}
          a(class="delete_button", href="/todo_items/delete/#{todo_item.id}", data-id="#{todo_item.id}") Delete

  script.
    $(function(){
      $("#new_todo_title").focus();
      
      function openForm(evt){
        console.log(evt)  
        $(evt.currentTarget).replaceWith("\
          <form id='edit_title' action='/todo_items/update/"+evt.currentTarget.id+"' method='post'> \
          <input id='title_edit_field' type='text' value='"+$(evt.currentTarget).text()+"' name='todo_title'/> \
          ");
        $("#title_edit_field").focus();
        $("#title_edit_field").blur(function(){
          console.log("blurring");
          $(this.form).replaceWith("<span class='item' id='"+evt.currentTarget.id+"'>"+$(evt.currentTarget).text()+"</span>" )
        })
      }

      function submitNewTitle(evt){
        return false;

      }

      $('#todo_items').on('click', '.item', openForm);
      //- $('#new_item_form').on('submit', submitNewTitle);

    })

  :coffeescript
    $ ->
      console.log "hello from coffee"
      htmlizeItem = (todo_item) ->
          html_string = ""
          html_string += "<li id='#{todo_item['_id']}'>" 
          html_string += "<span class='item'>#{todo_item.title}</span>"
          html_string +="<a class='delete_button' href='/todo_items/delete/#{todo_item['_id']}' data-id='#{todo_item['_id']}'>Delete</a></li>"
          html_string


      $('#new_item_form').on 'submit', (evt) ->
        $.post "/todo_items/create",
          $(evt.currentTarget).serialize()
          (item) ->
            $("#todo_items").prepend(htmlizeItem(item))
            $("#new_todo_title").val("");
            $("#new_todo_title").blur();
            $("#new_todo_title").focus();
        false

      $('#todo_items').on 'click', '.delete_button', (evt) ->
        href = $(evt.currentTarget).attr('href')
        item_id = $(evt.currentTarget).attr('data-id')
        $.get(href).done (data) ->
          $("##{data.item_id}").remove() 

        false